<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Url:</strong>
  <%= @book.URL %>
</p>
<p>
  <%= image_tag(@book.src) if @book.src %>


</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
